@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(117, 117, 251);
}
.container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 28vw;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 3px rgb(65, 65, 65);
}
.card-1{
    background-color: rgb(240, 255, 240);

}
.card-2{
    background-color: rgb(245, 235, 255);
}
.card-3{
    background-color: rgb(255, 235, 235);
}
.card > div > h2{
    font-size: 2em;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
}

.features{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 0% 7%;
}

.button{
    padding: 13px 40px;
    border: 2px solid black;
    border-radius: 35px;
}


.card-1 .button{
    border-color: rgb(0, 170, 34);
    transition: 300ms;
}
.card-1 .button a{
    color: rgb(0, 170, 34);
    font-weight: bold;
    font-size: 1.2em;
}
.card-1 .button:hover{
    background-color: rgb(0, 170, 34);
}
.card-1 .button:hover a{
    color: white;
}



.card-2 .button{
    border-color: rgb(186, 41, 186);
    background-color: rgb(186, 41, 186);
}

.card-2 .button a{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.card-2 .button:hover{
    border-color: black;
}

.card-3 .button{
    border-color: rgb(231, 53, 53);
    transition: 300ms;
}

.card-3 .button a{
    color: rgb(231, 53, 53);
    font-weight: bold;
    font-size: 1.2em;
}

.card-3 .button:hover{
    background-color: rgb(231, 53, 53);
}
.card-3 .button:hover a{
    color: white;
}

a{
    text-decoration: none;

}

p{
    margin: 8px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}


span{
    margin-left: 30px;
}


.inside{
    display: flex;
    justify-content: space-between;
}


.card-1-price{
    color: rgb(0, 170, 34);
    font-weight: bold;   
}

.card-2-price{
    color: rgb(186, 41, 186);
    font-weight: bold;   
}

.card-3-price{
    color: rgb(231, 53, 53);
    font-weight: bold;   
}

.line{
    width: 100%;
    height: 2px;
    background-color: red;

}

.card-1 h2+div{
    background-color: rgb(0, 170, 34);
}

.card-2 h2+div{
    background-color: rgb(186, 41, 186);
}

.card-3 h2+div{
    background-color: rgb(231, 53, 53);
}
